@{
    ViewBag.Title = "Home Page";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="~/Content/img/p1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>A Quick Learner</h3>
                <p class="fst-italic">
                    Motivated and well trained in web Design and Development. And I am also highly effective at this area.
                    I am very much expert for multitasking abilities and prepared to deliver first rate results to any team work.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 july 1997</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+880 130 313 2459</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Amtola, Khilkhet, Dhaka</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BSc in CSE</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>18203036@iubat.edu</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
            <p>There are some technical skills that i have achived. Also some other additional skills.</p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-4" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">C <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">C++ <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Python <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">C# <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">PHP <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Java <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>



            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">


                <div class="progress">
                    <span class="skill">HTML & CSS <i class="val">95%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">WordPress/CMS <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">My SQL <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">MS SQL <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">ASP.NET <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">LARAVEL <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Django <i class="val">65%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>


            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="progress">
                    <span class="skill">Microsoft Office <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Adobe Photoshop <i class="val">45%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Adobe Illustrator <i class="val">25%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">PSD to HTML <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Problem Solving <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Public Speaking <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Teaching <i class="val">95%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>



            </div>



        </div>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bsc in Computer Science & Engineering</h4>
                    <p>International University of Business Agriculture and Technology</p>
                    <h5>April 2018-Present  &amp; Current CGPA is 3.68</h5>
                </div>
                <div class="resume-item">
                    <h4>Higher Secondary Certificate (HSC)</h4>
                    <p>Hazi Lal Mia City College, Gopalganj</p>
                    <h5>2016 (Science) &amp;GPA 4.83</h5>
                </div>
                <div class="resume-item">
                    <h4>Secondary School Certificate (SSC)</h4>
                    <p>Al Haz A.G High School</p>
                    <h5>2014(Science)  &amp; GPA: 5.00</h5>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">WORK HISTORY</h3>
                <div class="resume-item">
                    <h4>
                        ICT Teacher (HSC)
                    </h4>
                    <p>Creative Academic Care, Bottola, Khilkhet, Dhaka</p>
                    <h5>2018 – present</h5>
                </div>
                <div class="resume-item">
                    <h4>Higher Mathematics & ICT Teacher (HSC)</h4>
                    <p>The Guardian Coaching Center, Kashiani, Gopalganj</p>
                    <h5>2017-2018</h5>
                </div>
                <div class="resume-item">
                    <h4>Project Leader</h4>
                    <p>Healthe Care &amp; Coaching Management System</p>
                    <h5>2018-2020</h5>
                </div>

            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title"> VOLUNTEERING</h3>
                <div class="resume-item">
                    <h4>Assistant Manager of Programming Club</h4>
                    <p>Iubat IT Society</p>
                    <h5>2019-2021</h5>
                </div>
                <div class="resume-item">
                    <h4>Event Management</h4>
                    <p>National Collegiate Programming Contest(NCPC)</p>
                    <h5>2018</h5>
                </div>
                <div class="resume-item">
                    <h4>Participated</h4>
                    <p>
                        ICT Olympiad (2015), Physics Olympiad (2015), British Council (2018), Recitation(2009-present)
                    </p>
                    <h5>2009-2021</h5>

                </div>

            </div>

        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                I have done many projects. Some of the projects are related with management system, like Health Care Management System, Coaching Management System.
                Also did some other projects.
            </p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-management">Management</li>
                    <li data-filter=".filter-crud">CRUD</li>
                    <li data-filter=".filter-calculator">Calculator</li>
                    <li data-filter=".filter-other">Others</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">


            <div class="col-lg-4 col-md-6 portfolio-item filter-management">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/coaching.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/coaching.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Coaching Management System"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/Coaching_Management" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-crud">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/crudmvc.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/crudmvc.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CRUD Operation by ASP.NET Core MVC"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/CRUD-by-ASP.NET-MVC-with-Entity-FrameWork" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-management">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/health.jpg" class="img-fluid" alt="" height="200" width="200" />
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/health.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Health Care Management System"><i class="bx bx-plus"></i></a>
                        <a href="https://www.youtube.com/watch?v=qFl3I1RBlAs&t=351s" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-crud">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/crudapi.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/crudapi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CRUD Operation by ASP.NET Core with Rest API"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/CRUD-Operation-asp.net" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-calculator">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/calculator.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/calculator.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Calculator by ASP.NET MVC"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/calculator-webform-by-ASP.NET" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-management">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/elibrary.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/elibrary.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="E-Library Management System"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/E-Library-Management-System" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-calculator">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/calculator_winform.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/calculator_winform.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Calculator by ASP.NET Windows Form"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal/Calculator-by-Windows-Form-by-C-" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-other">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/other.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/other.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Many Projects what is done by python, asp.net, php laravel, js etc"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Munshi-Faysal?tab=repositories" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a href=""> Web Dseigner</a></h4>
                <p class="description">I can design your website, and I am sure that it will be eyecatching design. </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Web Developer</a></h4>
                <p class="description">Beside designing, I can develop your desire website. I think you are enough happy to see your complete website </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title"><a href="">Compettive Programmer</a></h4>
                <p class="description">
                    I do programming by the language of C, C++, Python. I had Participated in many intra university
                    programming contest and haddecent position. I had also participated in Google Hash Code 2020. <br />
                    Click to my <a href="https://codeforces.com/profile/IUBAT_FAYSAL">Codeforces</a> account.

                </p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Refferences</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <img src="~/Content/img/testimonials/Utpal.png" class="testimonial-img" alt="" />
                        <h3>Prof Dr Utpal Kanti Das</h3>
                        <h4>Professor &amp; Chair</h4>
                        <h4>E-mail: ukd@iubat.edu</h4>

                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <img src="~/Content/img/testimonials/dr_shamim_sir.jpg" class="testimonial-img" alt="" />
                        <h3>Dr Md Shamim Akhter</h3>
                        <h4>Professor</h4>
                        <h4>Email: shamimakhter@iubat.edu</h4>

                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <img src="~/Content/img/testimonials/humayun_sir.jpg" class="testimonial-img" alt="" />
                        <h3>Md.Humayun Kabir Biswas</h3>
                        <h4>Assistant Professor </h4>
                        <h4>Email:  mhkbiswas@iubat.edu </h4>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <img src="~/Content/img/testimonials/riaz.jpg" class="testimonial-img" alt="" />
                        <h3>Muhammad Riaz Hasib Hossain</h3>
                        <h4>.NET Developer at Total Synergy, Sydney </h4>
                        <h4>Contact: +61 459 200 032 </h4>
                    </div>
                </div><!-- End testimonial item -->



            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>ka 197/A, Amtola, Khilkhet, Dhaka</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>18203036@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+880 130 313 2459</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1829.5763120773008!2d90.42743944844955!3d23.831101161825014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7dfa8c19141%3A0xd83a067a1cb1a3ec!2sAmtola%20hotel!5e1!3m2!1sen!2sbd!4v1629989804178!5m2!1sen!2sbd" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

                </div>

            </div>
            <div class="col-lg-4 card  d-flex align-items-stretch">
                <div class="card-body">
                    <h3 style="text-align: center; margin-top: 200px;">
                        Do You Want to Contact with me Directly?
                    </h3>
                   
                    
                    <button class="btn btn-outline-primary" style="border-radius: 30px; margin-left: 70px;"><a style="color:#FFFFFF;"> @Html.ActionLink("Click Here", "Index", "User")</a></button>
                </div>

            </div>



        </div>

    </div>
</section><!-- End Contact Section -->
